<div class="top">
  <%= link_to "ログイン", books_path , class:"login"%>
  <%= link_to "新規登録", new_user_registration_path , class:"login"%>
</div>
  <div class="first-block">
    <h1><span class="under">書籍選びを簡単に</span></h1>
      <div class="hello-under">
        <div class="left-block">
        <%= image_tag "書評.png" , class:"image6"%>
        </div>
        <div class="box17">
          <h3>書評一覧では様々な人の書評が閲覧可能<br>
          だから自分に最適の1冊がすぐに見つかる<br>
          お気に入りの書評はいいねを押して保存できる</h3>
        </div>
    </div>
  </div>
  <div class="second-block">
    <h1><span class="under">同じ目標を持つ人と交流</span></h1>
      <div class="hello-under">
        <div class="left-block">
        <%= image_tag "コミュニティ.png" , class:"image6"%>
        </div>
        <div class="box17">
          <h3>コミュニティページでは意見交換が可能<br>
          わからないこともすぐに質問できる<br>
          自分の知っていることは積極的に共有してみよう</h3>
        </div>
    </div>
  </div>